# Python
# Generic Python.gitignore template from https://github.com/github/gitignore

# Byte-compiled / optimized / compressed files and directories
__pycache__/
*.py[cod]
*.avg
*.min.js
*.min.css

# Distributions and packaging
.Python
build/
dist/
sdists/
src/*.egg-info/
*.egg-info/
wheels/
*.whl

# Type checking
.mypy_cache/
.pyre/
.pytype/
.hypothesis/
.pytest_cache/

# Test and coverage
.coverage
.coverage.*
.tox/
.nox/
.lgtm.yml
.pylint.d/
cobertura.xml
coverage.xml
htmlcov/
.cache/
nosetests.xml
pip-log.txt
pytest-warnings.txt
test-results.xml

# Profiles and traces
profile.*
*.prof
*.mpl
*.pyov

# Jupyter Notebook
.ipynb_checkpoints
.jupyter/runtime/
.jupyter/
notebooks/.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Miscellaneous
.ropeproject
*~
*.swp
.DS_Store
.idea/  # Adjust for specific IDEs like PyCharm if needed
.vscode/ # Adjust for VS Code if needed
.ruff_cache/
